.recipe-wrapper {
  width: 40vw;
  height: 20vw;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  margin-top: -10rem;
}

@media (max-width: 768px) {
  .recipe-wrapper {
    width: 90vw;
    height: 100vw;
  }
}


