body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
